* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: black;
}

header {
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #00ff00;
}
header a {
  text-decoration: none;
}
header a h1 {
  font-size: 35px;
  font-family: monospace;
  color: #00ff00;
  padding: 0 10px;
  display: inline-block;
}
header a h1:hover {
  color: #00ff00;
}
header .nav {
  width: 15%;
  display: flex;
}
header .nav #hamburger {
  display: none;
}
header .nav .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  width: 65px;
  height: 60px;
  background-color: black;
  padding: 5px;
  z-index: 1;
}
header .nav .hamburger:hover > span {
  background-color: #00ff00;
}
header .nav .hamburger:hover > span::before {
  background-color: #00ff00;
}
header .nav .hamburger:hover > span::after {
  background-color: #00ff00;
}
header .nav .hamburger span,
header .nav .hamburger span::before,
header .nav .hamburger span::after {
  content: "";
  height: 10px;
  width: 60px;
  background-color: green;
  display: block;
}
header .nav .hamburger span {
  transform: translateY(20px);
  transition: 250ms background-color;
}
header .nav .hamburger span::before {
  position: absolute;
  bottom: 20px;
  transition: 250ms transform, 250ms 250ms bottom, 250ms background-color;
}
header .nav .hamburger span::after {
  position: absolute;
  top: 20px;
  transition: 250ms transform, 250ms 250ms top, 250ms background-color;
}
header .nav .menu {
  background-color: black;
  position: absolute;
  top: -300px;
  right: -70%;
  width: 100%;
  height: auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
header .nav .menu ul {
  border: 1px solid #00ff00;
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* 
      list-style: none;
      &:hover {
          background-color: #00ff00;
          color: black;
          font-weight: bold;
      }*/
}
header .nav .menu ul li {
  list-style: none;
}
header .nav .menu ul li a {
  font-family: monospace;
  display: block;
  width: 100%;
  padding: 20px 5px;
  font-size: 25px;
  color: #00ff00;
}
header .nav .menu ul li a:hover {
  background-color: #00ff00;
  color: black;
  font-weight: bold;
}
header #hamburger:checked + .hamburger > span {
  background-color: transparent;
}
header #hamburger:checked + .hamburger > span::before {
  transform: rotate(45deg);
  bottom: 0;
  transition: 250ms 250ms transform, 250ms bottom;
}
header #hamburger:checked + .hamburger > span::after {
  transform: rotate(-45deg);
  top: 0;
  transition: 250ms 250ms transform, 250ms top;
}
header #hamburger:checked ~ .menu {
  top: 90px;
}

.container .space-place {
  height: 150px;
}
.container .matrix {
  display: flex;
  height: 400px;
  margin: 10px 20px;
  border: 1px solid green;
}
.container .matrix .bullets {
  flex-grow: 3;
}
.container .matrix .bullets .bul1 {
  width: 100%;
  margin: 5px 0;
}
.container .matrix .bullets .bul1::after {
  content: "";
  display: inline-block;
  margin: 20px 0 20px 40px;
  position: relative;
  height: 10px;
  width: 30px;
  border-radius: 0% 50% 50% 0%;
  background-color: #00ff00;
  animation: matrix-bullet-action 3s cubic-bezier(0.46, 0.45, 0.28, 0.25) both;
}
@keyframes matrix-bullet-action {
  0% {
    right: 0%;
  }
  100% {
    right: -85%;
  }
}
.container .matrix .bullets .bul1::before {
  content: "HTML";
  font-size: 20px;
  display: inline-block;
  position: absolute;
  text-align: center;
  padding: 8px 0 0 0;
  font-weight: bolder;
  width: 60%;
  height: 30px;
  background-color: #00ff00;
  left: -60%;
  animation: matrix-information-action 3s cubic-bezier(0.46, 0.45, 0.28, 0.25) both;
  animation-delay: 1s;
}
@keyframes matrix-information-action {
  0% {
    left: -60%;
  }
  100% {
    left: 5%;
  }
}
.container .matrix .bullets .bul2 {
  width: 100%;
  margin: 5px 0;
}
.container .matrix .bullets .bul2::after {
  content: "";
  display: inline-block;
  margin: 20px 0 20px 40px;
  position: relative;
  height: 10px;
  width: 30px;
  border-radius: 0% 50% 50% 0%;
  background-color: #00ff00;
  animation: matrix-bullet-action 3s cubic-bezier(0.46, 0.45, 0.28, 0.25) both;
}
@keyframes matrix-bullet-action {
  0% {
    right: 0%;
  }
  100% {
    right: -85%;
  }
}
.container .matrix .bullets .bul2::before {
  content: "CSS";
  font-size: 20px;
  text-align: center;
  padding: 8px 0 0 0;
  font-weight: bolder;
  display: inline-block;
  position: absolute;
  width: 60%;
  height: 30px;
  background-color: #00ff00;
  left: -60%;
  animation: matrix-information-action 3s cubic-bezier(0.46, 0.45, 0.28, 0.25) both;
  animation-delay: 1s;
}
@keyframes matrix-information-action {
  0% {
    left: -60%;
  }
  100% {
    left: 5%;
  }
}
.container .matrix .bullets .bul3 {
  width: 100%;
  margin: 5px 0;
}
.container .matrix .bullets .bul3::after {
  content: "";
  display: inline-block;
  margin: 20px 0 20px 40px;
  position: relative;
  height: 10px;
  width: 30px;
  border-radius: 0% 50% 50% 0%;
  background-color: #00ff00;
  animation: matrix-bullet-action 3s cubic-bezier(0.46, 0.45, 0.28, 0.25) both;
}
@keyframes matrix-bullet-action {
  0% {
    right: 0%;
  }
  100% {
    right: -85%;
  }
}
.container .matrix .bullets .bul3::before {
  font-size: 20px;
  text-align: center;
  padding: 8px 0 0 0;
  font-weight: bolder;
  content: "JavaScript";
  display: inline-block;
  position: absolute;
  width: 60%;
  height: 30px;
  background-color: #00ff00;
  left: -60%;
  animation: matrix-information-action 3s cubic-bezier(0.46, 0.45, 0.28, 0.25) both;
  animation-delay: 1s;
}
@keyframes matrix-information-action {
  0% {
    left: -60%;
  }
  100% {
    left: 5%;
  }
}
.container .matrix .bullets .bul4 {
  width: 100%;
  margin: 5px 0;
}
.container .matrix .bullets .bul4::after {
  content: "";
  display: inline-block;
  margin: 20px 0 20px 40px;
  position: relative;
  height: 10px;
  width: 30px;
  border-radius: 0% 50% 50% 0%;
  background-color: #00ff00;
  animation: matrix-bullet-action 3s cubic-bezier(0.46, 0.45, 0.28, 0.25) both;
}
@keyframes matrix-bullet-action {
  0% {
    right: 0%;
  }
  100% {
    right: -85%;
  }
}
.container .matrix .bullets .bul4::before {
  content: "SASS-SCSS";
  font-size: 20px;
  text-align: center;
  padding: 8px 0 0 0;
  font-weight: bolder;
  display: inline-block;
  position: absolute;
  width: 60%;
  height: 30px;
  background-color: #00ff00;
  left: -60%;
  animation: matrix-information-action 3s cubic-bezier(0.46, 0.45, 0.28, 0.25) both;
  animation-delay: 1s;
}
@keyframes matrix-information-action {
  0% {
    left: -60%;
  }
  100% {
    left: 5%;
  }
}
.container .matrix .bullets .bul5 {
  width: 100%;
  margin: 5px 0;
}
.container .matrix .bullets .bul5::after {
  content: "";
  display: inline-block;
  margin: 20px 0 20px 40px;
  position: relative;
  height: 10px;
  width: 30px;
  border-radius: 0% 50% 50% 0%;
  background-color: #00ff00;
  animation: matrix-bullet-action 3s cubic-bezier(0.46, 0.45, 0.28, 0.25) both;
}
@keyframes matrix-bullet-action {
  0% {
    right: 0%;
  }
  100% {
    right: -85%;
  }
}
.container .matrix .bullets .bul5::before {
  content: "jQery";
  font-size: 20px;
  text-align: center;
  padding: 8px 0 0 0;
  font-weight: bolder;
  display: inline-block;
  position: absolute;
  width: 60%;
  height: 30px;
  background-color: #00ff00;
  left: -60%;
  animation: matrix-information-action 3s cubic-bezier(0.46, 0.45, 0.28, 0.25) both;
  animation-delay: 1s;
}
@keyframes matrix-information-action {
  0% {
    left: -60%;
  }
  100% {
    left: 5%;
  }
}
.container .matrix .neo {
  flex-grow: 1;
  background-image: url(/image/neo.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

@media (min-width: 769px) {
  body header .nav {
    width: 8%;
  }
  body header .nav .menu {
    top: 0;
    right: -100%;
    width: 700px;
  }
  body header .nav .menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body header .nav .menu ul li {
    display: block;
    width: 100%;
  }
  body header .nav .menu ul li a {
    text-align: center;
    width: 100%;
    font-size: 22px;
  }

  #hamburger:checked ~ .menu {
    right: 20%;
    top: 50px;
  }
}

/*# sourceMappingURL=myskills.css.map */
